*.o
*~
*.gc??
lcov.info
coverage
gmon.out
callgrind.out.*
*.swp
.dirstamp
stamp-h?
*.log
*.tors
*.trs
*.tar.gz
*.deb
*.rpm
*.tmp

.deps
config.h
config.log
config.status
Makefile.in
config.h.in
Makefile
configure
autom4te.cache
aclocal.m4
build/

util
